{% load static %} {% load icon %} {% load tailwind_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create your own art with NST | Developed by Michael Eco</title>
    {% tailwind_preload_css %} {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}" />
  </head>
  <body class="font-sans">
    <div class="my-8 mx-8 main-form">
      <form class="grid place-items-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center mb-8">
          <h3 class="text-3xl font-bold">Create your own art with Neural Style Transfer</h3>
        </div>

        <!-- content form -->
        <div>
          <div class="mb-8">
            <div class="w-64 h-64 bg-gray-200 rounded-md relative overflow-hidden">
              <p class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/3 w-full placeholder">Image will be shown here</p>
              <img class="w-64 h-64" id="preview-content" />
            </div>
            {{ content_form.as_p }}
          </div>

          <!-- style form -->
          <div>
            <div class="w-64 h-64 bg-gray-200 rounded-md relative overflow-hidden">
              <p class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/3 w-full placeholder">Image will be shown here</p>
              <img class="w-64 h-64" id="preview-style" />
            </div>
            {{ style_form.as_p }}
          </div>
        </div>
      </form>
    </div>
    <div class="grid place-items-end mb-8 mx-8 submit-btn">
      <button class="py-3 px-9 bg-sky-700 text-white cursor-pointer flex items-center justify-center mt-4 text-center rounded-md font-semibold shadow-lg">Merge Image {% icon "arrow-right-circle" class="ml-1" height="18" width="18" %}</button>
    </div>
    <div class="h-screen grid place-items-center relative loading-screen hidden">
      <div class="loader"></div>
      <p class="time-needed">Est. {{ time_taken }} s</p>
    </div>
    <script defer src="{% static 'index/js/index.js' %}"></script>
  </body>
</html>
